@require 'dx-components/src/components/Popover/Popover.styl';
@require 'dx-components/src/components/Popover/Popover.mixin.styl';

Popover(container, 5px, #f6f6f6);

.container {
	box-sizing: border-box;
}

.content {
	background-color: #f6f6f6;
	border: 1px solid #e1e1e1;
	font-family: arial;
	font-size: 12px;
	width: 184px;
	height: 272px;
	box-sizing: border-box;
	color: #6e6f71;
	text-align: left;
	margin-right: 15px;
	margin-top: -7px;
	padding: 10px 5px 13px 7px;
}