.container {
	width: 30px;
	height: 30px;

	&:not(:last-child) {
		margin-bottom: 11px;
	}
}

.icon {
	background: url("../../../resources/sprite.png");
}

.info {
	background-position: -20px -20px;
}

.films {
	background-position: 0 -20px;
}

.text {
	background-position: -120px -20px;
}

.align {
	background-position: -40px -20px;
}

.rotate {
	background-position: -60px -20px;
}

.flip {
	background-position: -80px -20px;
}

.layers {
	background-position: -100px -20px;
}