.container {
	background: url(data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQAB…AH0EA+gAX0ADN0AABAyABUADN0BQFBkACoAAAoCgAVBmgAFAUAABUGaAoCgAAMgKAoIH//2Q==) no-repeat #dedede center;
	background-size: cover;
	width: 940px;
	height: 545px;
	padding: 10px;
	position: relative;
}