.container {
	background: url("../../resources/workarea-back.jpg") no-repeat #dedede center;
	background-size: cover;
	width: 940px;
	height: 545px;
	font-size: 12px;
	padding: 10px;
	position: relative;
}

.header {
	display: flex;
	align-items: center;
}

.mode {
	flex-grow: 1;
}

.content {
	display: flex;
	padding-top: 10px;
}

.stage {
	display: flex;
	flex-grow: 1;
}