.container {
	width: 250px;
	border: 1px solid #e4e4e4;
	background-color: #fff;
}

.title {
	display: block;
	padding: 10px 10px 13px 10px;
	font-weight: bold;
	line-height: 19px;
	min-height: 19px;
	text-align: center;
	margin: 0 -10px;
	text-transform: uppercase;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQ8AAAAKCAYAAACqlds5AAAAGXRFW…6i+a6cYcK4VCPXIDxbrJ6r/QVi8fgCiuomWx24GWwXYAABdkQJb9ltagAAAABJRU5ErkJggg==) no-repeat center bottom;
}

.image {
	height: 200px;
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.row {
	display: flex;
	align-items: center;
}

.colors {
	flex-grow: 1;
}

.price {
	margin-left: auto;
}

.description {

}

